name: Build Custom Caddy

on:
  workflow_dispatch: # 允许你在 GitHub 网页上手动点击按钮触发构建
  push:
    tags:
      - "v*" # 或者当你推送类似 v1.0.0 的 tag 时自动触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 允许发布 Release

    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
            output_name: caddy-linux-amd64
          - goarch: arm64
            goos: linux
            output_name: caddy-linux-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5' # Caddy 建议使用较新版本的 Go
          check-latest: true
          cache: false

      - name: Install xcaddy
        run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest

      - name: Build Caddy (${{ matrix.goarch }})
        env:
          CGO_ENABLED: 0 # 静态编译，兼容性最好
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          ~/go/bin/xcaddy build \
            --output ${{ matrix.output_name }} \
            --with github.com/greenpau/caddy-security \
            --with github.com/caddyserver/forwardproxy=github.com/klzgrad/forwardproxy@naive \
            --with github.com/mholt/caddy-l4 \
            --with github.com/WeidiDeng/caddy-cloudflare-ip \
            --with github.com/LeenHawk/caddy-edgeone-ip \
            --with github.com/xcaddyplugins/caddy-trusted-cloudfront \
            --with github.com/tuzzmaniandevil/caddy-dynamic-clientip \
            --with github.com/monobilisim/caddy-ip-list \
            --with github.com/fvbommel/caddy-combine-ip-ranges \
            --with github.com/porech/caddy-maxmind-geolocation \
            --with github.com/mholt/caddy-ratelimit

      - name: Upload Artifact (Backup)
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output_name }}
          path: ${{ matrix.output_name }}

release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      # 1. 生成更好看的时间变量
      - name: Generate Release Vars
        id: vars
        run: |
          echo "DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
          # 生成一个形如 20251215-1030 的时间戳，避免一天多次构建导致 Tag 冲突
          echo "TIME_TAG=$(date +'%Y%m%d-%H%M')" >> $GITHUB_ENV

      # 2. 发布
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          # Tag 变成: v20251215-1030
          tag_name: v${{ env.TIME_TAG }}
          # 标题变成: Custom Caddy - 2025-12-15
          name: Custom Caddy - ${{ env.DATE }}
          body: |
            自动构建完成。
            构建时间: ${{ env.DATE }}
            包含架构: AMD64, ARM64
          files: |
            artifacts/caddy-linux-amd64/caddy-linux-amd64
            artifacts/caddy-linux-arm64/caddy-linux-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
